#angular-progress {
  position: fixed;
  width: 100%;
  border-radius: 5px;
  background-color: #EFEFEF;
  height: 2px;
  border: thin solid #333B44;
  top: 0;
  right: 0;
  left: 0;
}

#angular-progress .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  z-index: 10002;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  box-shadow: 0 0 10px 0;
  border-radius: 2px;
  background: linear-gradient(to right, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#angular-progress.error .bar {
    background: linear-gradient(to right, #b8240f 0%, #db761f 51%, #e82c2c 75%);
}

#angular-progress.complete .bar {
    background: linear-gradient(to right, #0fb858 0%, #1fdb36 51%, #2ce8bd 75%);
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
